html {
    font-family: "Raleway", "Helvetica", sans-serif;
    font-weight: 400;
    color: #2F3442;
    height: 100%;
    background-color: #FFFFFF;
}

.icon {
  display: flex;
  color: #BCD2DA;
  padding: 2%;
  align-content: center;
}

.card {
    /* display, flex-direction */
    display: flex;
    align-content: center;
    
}

.card__description {
    /* display, flex-direction, justify-content, align-items */
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: bottom;
    flex-direction: row;
   
    
}

.card__descriptionIcon {
  
    justify-content: center;
}

.card__descriptionText {
    color: #57727C;
    font-size: 12px;
    text-align: center;
    
   
    
}

.card__price {
  
    text-align: center;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 15px;
    border-top: 1px solid #D7DBDD;
    background-color: #EEF3F5;
}

.cardGroup {
    /* display */
    display: flex;
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: wrap;
  }
  
    .cardGroup__card {
      /* flex-grow, flex-shrink, flex-basis */
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 5px;
      border-left: 1px solid #D7DBDD;
      
    }
  
   
    .cardGroup__cardDescription {
      /* flex-grow, flex-shrink, flex-basis */
      display: inline;
      flex-grow: 1;
      flex-shrink: 5px;
      flex-basis: center; 

    }